.facts__text {
  @include reset-text;
  padding-top: 2.7vw;
  padding-bottom: 3.1vw;
  @include section-padding("m");
  width: 50%;
  font-weight: 300;
  font-size: 2vw;
  line-height: 140%;
  border-right: $border;
  box-sizing: border-box;
}

@media screen and (min-width: 1440px) {
  .facts__text {
    padding-top: 40px;
    padding-bottom: 45px;
    @include section-padding("l");
    font-size: 30px;
  }
}
