.facts__list-item {
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 152%;
  padding-bottom: 2px;
}

@media screen and (min-width: 1440px) {
  .facts__list-item {
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  .facts__list-item {
    font-size: 21px;
  }
}

@media screen and (max-width: 500px) {
  .facts__list-item {
    font-size: 16px;
    line-height: 125%;
  }
}
