.introduction__link {
  @include reset-link;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  line-height: 400%;
  box-sizing: border-box;
  text-align: center;
  width: 360px;
  border: $border;
  justify-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
